$font: "Quantico", sans-serif;

$color_main: #BFBFBF;
$color_second: #272C3D;
$color_third: #1B1E27;
$color_fourth: #000000;
$color_fifth: #ffffff;
$color_sixth: #404864;
$color_accent: #FF9C28;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);